allure-pytest==2.9.43
allure-python-commons==2.9.43
appdirs==1.4.4
Appium-Python-Client==1.0.2
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
distlib==0.3.1
field==0.2.0
filelock==3.0.12
idna==2.10
importlib-metadata==3.1.0
iniconfig==1.1.1
more-itertools==8.7.0
mysqlclient==2.0.1
numpy==1.21.5
packaging==20.9
Pillow==8.0.1
pluggy==0.13.1
py==1.10.0
pygame==2.1.0
Pygments==2.7.2
PyMySQL==1.0.2
pyparsing==2.4.7
Pypubsub==4.0.3
pytest==6.2.4
pywin32==228
PyYAML==5.4.1
requests==2.25.0
robotframework==3.1.2
robotframework-pythonlibcore==2.1.0
robotframework-ride==1.7.4.2
robotframework-seleniumlibrary==4.5.0
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.25.11
virtualenv==20.2.1
wcwidth==0.2.5
wxPython==4.0.7.post2
yml==0.0.1
zipp==3.4.0
